In [1]:
liste = [1,2,3,4,5]

In [2]:
for i in liste:
    print(i+ 10)

11
12
13
14
15

In [3]:
list(map(lambda x: x*10, liste))

[10, 20, 30, 40, 50]

In [4]:
liste = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x: x % 2 == 0, liste))

[2, 4, 6, 8, 10]

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

In [ ]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))